BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterControlStatement: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyRecord: false

IndentCaseLabels: true

AllowShortFunctionsOnASingleLine: None
AllowShortCaseLabelsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: false

ColumnLimit: 0
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpaceAfterCStyleCast: false
SpaceBeforeCaseColon: false

# For your header style
EmptyLineBeforeAccessModifier: Always
SortIncludes: false
IncludeBlocks: Preserve
IncludeCategories:
  - Regex: '.*'
    Priority: 0

# Makes sure multiline declarations don't get crammed
AlignAfterOpenBracket: Align
AlignOperands: true

# Keeps comments with code and doesn’t squish stuff together
AllowShortEnumsOnASingleLine: false
SeparateDefinitionBlocks: Always
MaxEmptyLinesToKeep: 2
