[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw
[submodule "thirdparty/SDL"]
	path = thirdparty/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = release-3.2.x
[submodule "thirdparty/box2d"]
	path = thirdparty/box2d
	url = https://github.com/erincatto/box2d
[submodule "thirdparty/soloud/soloud"]
	path = thirdparty/soloud/soloud
	url = https://github.com/jarikomppa/soloud
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm
[submodule "tests/thirdparty/Catch2"]
	path = tests/thirdparty/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "tests/c_api/thirdparty/cmocka"]
	path = tests/c_api/thirdparty/cmocka
	url = https://git.cryptomilk.org/projects/cmocka.git
